@media (max-width: 992px) {
    .navbar {
        gap: 10px;
        width: 100%;
        display: flex;
    }

    .navbar ul{
        position: absolute;
        top: 90px !important;
        left: 35%;
        right: 5%;
        width: 50%;
        flex-direction: column;
        background-color: rgb(195, 195, 237);
        border: 2px solid;
        border-radius: 15px 0px 15px 15px;
        align-items: center;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
        margin: 30px;
    }

    .navbar-li a {
        font-size: 18px;
        color: black;
    }  

    .navbar img{
        padding: 0 0px;
        width: 300px;
        height: 150px;
        padding-left: 56px;
    }

    .menu-label {
        display: flex;
        order: 3;
        cursor: pointer;
        padding-right: 10px;
    }

    .menu-label:before{
        visibility: visible;
        display: flex;
        padding-right: 80px;
    }

    #menu-toggle:checked + .navbar-li {
        display: flex;
        visibility: visible;
    }

    body{
        display:inline-block;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
    }

    .hero-info {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .hero-info h1 {
        width: 90%;
        max-width: 500px;
        min-width: unset;
    }

    .hero-info p {
        width: 60%;
        max-width: 600px;
    }

    .hero-card {
        display: none;
    }

    #ventajas {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        width: 80px;
    }

    #ventajas h2{
        align-items: center;
        text-align: center;
        font-size: 35px;
        justify-content: center;
    }

    .footer {
    width: 100%;
    }
}

@media (max-width: 576px) {
    .navbar{
        width: 100%;
        display: flex;
        position: relative;
    }

    .navbar ul{
        position: absolute;
        top: 90px;
        left: 5%;
        right: 5%;
        width: 80%;
        flex-direction: column;
        background-color: rgb(195, 195, 237);
        border-radius: 15px 0px 15px 15px;
        align-items: center;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
    }

    .navbar-li a{
        color: rgb(0, 0, 0);
    }

    .menu-label:before{
        visibility: visible;
        display: flex;
        margin: 0;
        padding-right: 80px;
    }

    #menu-toggle:checked ~ .navbar ul{
        display: flex;
    }

    body{
        display: block;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .hero-info{
        width: 500px;
    }

    .hero-info h1 {
        width: 100%;
        font-size: 30px;
    }

    #ventajas{
        margin: 0;
        padding: 0;
    }

    .contact_form{
        width: 70%;
        height: 80%;
        align-items: center;
    }

    input{
        width: 300px; 
        height: 40px; 
    }

    textarea{
        width: 300px;
    }

    button{
        width: 300px;
    }

    .contactUs{
        margin: 0;
        padding: 0;
    }

    .footer {
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 480px){
    .navbar{
        width: 100%;
        display: flex;
        position: relative;
    }

    .navbar ul{
        position: absolute;
        top: 90px;
        left: 5%;
        right: 5%;
        width: 80%;
        flex-direction: column;
        background-color: rgb(195, 195, 237);
        border-radius: 15px 0px 15px 15px;
        align-items: center;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
    }

    .navbar-li{
        margin: 45px;
    }

    .navbar-li a {
        font-size: 18px;
        color: black;
    }  

    .navbar img{
        padding: 0 0px;
        width: 200px;
        height: 100px;
        padding-left: 56px !important;
    }

    .menu-label:before{
        visibility: visible;
        display: block;
        padding-right: 20px;
    }

    body {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }

    .hero{
        width: 500px;
    }

    .hero-info {
        text-align: center;
        display: flex;
        width: 100%;
    }

    .contact_form{
        width: 350px;
    }

    .footer{
    width: 100%;
    }
}